.footer {
  background-color: #999999;
  padding-bottom: 0;
}

.footer p {
  margin: 0;
  font-family: $arial;
  font-size: 85px;
  font-weight: normal;
  line-height: 95%;
  text-decoration: none;
  color: $black;
  letter-spacing: 4px;
}

@media (max-width: $laptop-width) {
  .footer {
    padding: 5px 0 0;
  }

  .footer p {
    font-size: 45px;
    line-height: 85%;
  }
}
