.header {
  background-color: #ededed;
  padding: 5px 0 40px;
}

.header-title {
  font-family: $arial;
  font-size: 85px;
  font-weight: normal;
  line-height: 95%;
  text-decoration: none;
  color: $black;
  letter-spacing: 1.5px;
}

@media (max-width: $laptop-width) {
  .header {
    padding: 5px 0 82px;
  }

  .header-title {
    font-size: 45px;
    line-height: 75%;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding: 0 0 102px;
  }

  .header-title {
    font-size: 20px;
    line-height: 100%;
  }
}
