.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: start;
  grid-template-rows: max-content;
  grid-template-areas: "left buy right";
}

.main h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.left-menu {
  background-color: #777777;
  grid-area: left;
}

.left-menu h2 {
  margin: 0;
  font-family: $arial;
  font-size: 20px;
  line-height: 100%;
  font-weight: normal;
  letter-spacing: 1.5px;
  color: $black;
}

.main-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-item {
  font-family: $arial;
  font-size: 20px;
  line-height: 100%;
  font-weight: normal;
  letter-spacing: 1.5px;
  color: $black;
}

.buy {
  display: grid;
  grid-template-columns: minmax(159px, 60%) minmax(224px, 40%);
  background-color: #ededed;
  grid-area: buy;
}

.buy-image {
  display: block;
  width: auto;
  max-width: 100%;
}

.buy-form {
  padding: 0 10px 10px;
  box-sizing: border-box;
}

.buy-btn {
  font-family: $arial;
  font-size: 16px;
  line-height: 100%;
  font-weight: normal;
  letter-spacing: 1.5px;
  color: $black;
}

.buy p {
  margin: 0;
  font-family: $arial;
  font-size: 20px;
  line-height: 105%;
  font-weight: normal;
  letter-spacing: 1.4px;
  color: $black;
}

.buy-form__coast {
  color: #ff4200;
}

.right-menu {
  grid-area: right;
  background-color: #888888;
}

.right-menu h2 {
  margin: 0;
  font-family: $arial;
  font-size: 20px;
  line-height: 100%;
  font-weight: normal;
  letter-spacing: 1.5px;
  color: $black;
}

@media (max-width: $laptop-width) {
  .main {
    grid-template-columns: minmax(150px, 1fr) 3fr;
    grid-template-areas:
      "right buy"
      "left buy";
  }

  .buy {
    display: block;
  }

  .buy-image {
    margin: 0 auto;
    width: 460px;
  }

  .buy-form {
    padding: 0;
  }

  .buy p {
    letter-spacing: 1.4px;
  }
}

@media (max-width: $mobile-width) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "right"
      "left"
      "buy";
  }

  .right-menu {
    padding: 20px;
    padding-bottom: 16px;
  }

  .left-menu {
    padding: 17px;
  }

  .left-menu h2 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: $black;
    color: $white;
  }

  .main-list {
    margin: 0;
    padding: 0;
    list-style: disc;
  }

  .buy {
    padding: 18px 18px 5px;
  }

  .buy-image {
    margin-bottom: 5px;
    width: 319px;
  }

  .buy p {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 15px;
  }

  .buy-form__coast {
    margin: 0 auto 12px;
    font-size: 35px;
    line-height: 100%;
    font-weight: bold;
  }

  .buy-btn {
    margin: 0 auto 10px;
    padding: 14px 55px;
    font-size: 23px;
    background-color: #fac552;
    border: none;
    border-radius: 5px;
  }

  .buy-form__mini {
    margin: 5px 0;
    padding: 13px;
    padding-bottom: 5px;
    font-size: 40px;
    line-height: 95%;
    background-color: $white;
  }
}
